*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.title {
  color: #FFF;
font-family: Oswald;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94%;
text-transform: uppercase;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  gap: 30px;
}
.content__accent {
  color: #545050;
font-family: Oswald;
font-size: 75px;
font-style: normal;
font-weight: 700;
line-height: 94%; 
text-transform: uppercase;
}

.content__list {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  height: 298px;
  gap: 30px;
  align-items: flex-start;
  }
  .content__list:last-child {
    align-items: stretch;
    
  }
  .content__list-item {
    display: flex;
    flex-direction: column;
    width: 399px;
    height: 200px;
    justify-content: space-between;
  }
  .content__card-link {
    height: 100%;
    color: #FFF;
    text-decoration: none;
    margin: 2px;
    outline: none;
  }

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width:399px;
  gap: 26px;
}
.content__video-card {
  display: flex;
  width: 390px;
  height: 100px;
  
}
.content__video-card-thumbnail {
  width: 194px;
height: 103px;
flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
.content__video-card-title {
  color: #FFF;
font-family: Oswald;
font-size: 30px;
font-weight: 700;
line-height: 100%;
text-transform: uppercase;
}
.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;

}
.search-form {
  display:flex;
  justify-content: space-between;
  align-items: end;
  height: 54px;
}
.search-form__fieldset-title {
font-size: 18px;
font-weight: 400;
}
.search-form__label {
  display: inline-flex;
width: fit-content;
gap: 5px;
align-items: center;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-style: none;
  width: 225px;
  max-height: 49px;
}
.search-form__textfield {
    display: flex;
    width: 225px;
    align-items: center;
    background-color:inherit;
    border-style: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: rgba(255, 255, 255, 0.70);
    font-family: Fira Sans Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none; 
}
.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  gap: 5px;
  
}
.result__video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  object-fit:cover;
  object-position: center;
  justify-content: center;
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  object-position: center;

}
.search-form__checkbox-list {
  display: inline-flex;
  gap: 15px;
}
.search-form__label-text{
  cursor: pointer;
}

.button{
  color: #FFF;
text-align: center;
font-family: Fira Sans Condensed;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 1px solid #FFF;
background-color:inherit;
cursor: pointer;
}

.more-button{
  display: flex;
width: 100%;
height: 34px;
justify-content: center;
align-items: center;
}

.search-form__submit-button{
  display: flex;
width: 194px;
height: 34px;
justify-content: center;
align-items: center;
}




.search-form__submit-button:hover {
  text-decoration: underline;
}
.search-form__submit-button:focus {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}
.search-form__submit-button:active {
  background: #545050;
  outline: none;
}


input[type='checkbox']:checked + span {
  background-image: url(/image_box.svg);
  background-position: center;
}

input[type='checkbox']:active + span {
  background-image: url(/image_box.svg);
  background-position: center;
}












.search-form__label-text:hover {
  line-height: normal;
  text-decoration-line: underline;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
} 

.search-form__textfield:hover {
  border-top: 1px solid #FFF;
border-bottom: 1px solid #FFF;

}
.search-form__label:has(:active) {
  outline: none;
  border:#FFF solid 1px;
  padding-bottom: 1px;


  
}









.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.content__card-link:focus {  
  outline: 1px solid #FFF;
  outline-offset: 1px;
}
.content__card-link:active {
  background: #545050;
  outline: none;
}


















.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}  